server:
  port: 8080
spring:
  application:
    name: AUTH-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  # Redis Configuration
  data:
    redis:
      host: localhost
      port: 6379
      password:  # Leave empty if no password
      timeout: 60000
jwt:
  secretKey: c2d1a2cf01f398933aaacb52472185057d9c2ab8b6e17738cb810bbc8155e881
  expiration: 900000
  refreshExpiration: 604800000
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true


